<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>学分积查询</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/default/icon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="/static/assets/css/reset.css">
        <link rel="stylesheet" href="/static/assets/css/supersized.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <h1>NWPU 学分积查询</h1>
            <form action="/credit/index/" name= "myForm" method = "post" enctype="multipart/form-data" onsubmit="return validateForm();">
                {% csrf_token %}
                <input type="text" name="username" class="username" placeholder="学号", required="">
                <input type="password" name="password" class="password" placeholder="密码" required="">
                <button type="submit">提交</button>
            </form>
            <div class="connect">
                <p name = "error" id = "error"></p>

            </div>
            <br>
            <a target="_blank" href="http://blog.csdn.net/wenzhunpu/article/details/52221202">如何实现？</a>
        </div>
		
        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.8.2.min.js"></script>
        <script src="/static/assets/js/supersized.3.2.7.min.js"></script>
        <script src="/static/assets/js/supersized-init.js"></script>
        <script src="/static/assets/js/scripts.js"></script>
        <script>
	    function validateForm()
	    {
		    var status = document.getElementById("error");
  		    var pattern = /^\d{10}$/;
  		    if (!pattern.test(myForm.username.value))
  		    {
  			    status.innerHTML = "学号为10位数字";
  			    return false;
  		    }
  		    return true;
        }
        </script>


    </body>

</html>


